.services {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
}
.services::after {
  content: "";
  position: absolute;
  top: 0;
  right: -60%;
  width: 220%;
  height: 100%;
  z-index: -1;
  border-top-left-radius: 49%;
  border-top-right-radius: 49%;
  background-color: #407bff;
}
.title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-bottom: 30px;
}
.tableWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.table {
  position: relative;
  min-width: 335px;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
}
.general::after {
  content: "";
  position: absolute;
  top: -30px;
  left: -30px;
  width: 63px;
  height: 151px;
  background-image: url("../../assets/general-man.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.regular::after {
  content: "";
  position: absolute;
  top: -4px;
  right: -30px;
  width: 60px;
  height: 157px;
  background-image: url("../../assets/services/regular-woman.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.office::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: -30px;
  width: 70px;
  height: 110px;
  background-image: url("../../assets//services/office-woman.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.repair::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -28px;
  width: 56px;
  height: 139px;
  background-image: url("../../assets//services/repair-woman.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.tableItem:nth-child(odd) {
  background-color: #ecf0f8;
}
.tableItem:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.office .tableItem:nth-child(odd) {
  background-color: #fff;
}
.office .tableItem:nth-child(even) {
  background-color: #ecf0f8;
}
.tableTitle {
  color: #407bff;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
.tableItem {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.serviceName {
  color: #263238;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
}
.servicePrice {
  color: #263238;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 390px) {
  .table {
    min-width: 320px;
  }
}

@media (min-width: 720px) {
  .services {
    padding-top: 60px;
  }
  .title {
    font-size: 24px;
    line-height: 18px;
    padding-bottom: 52px;
  }
  .table {
    max-width: 65%;
  }
  .general::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -55px;
    width: 80px;
    height: 192px;
    background-image: url("../../assets/general-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .regular::after {
    content: "";
    position: absolute;
    top: -10px;
    right: -55px;
    width: 76px;
    height: 199px;
    background-image: url("../../assets/regular-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .office::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -110px;
    width: 150px;
    height: 142px;
    background-image: url("../../assets/office-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .repair::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: -65px;
    width: 100px;
    height: 191px;
    background-image: url("../../assets/repair-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tableTitle {
    font-size: 16px;
  }
  .serviceName,
  .servicePrice {
    font-size: 14px;
  }
  .tableItem {
    padding: 13px 20px;
  }
}

@media (min-width: 1340px) {
  .services {
    padding-top: 65px;
    padding-bottom: 60px;
  }
  .title {
    font-size: 32px;
    line-height: 18px;
    padding-bottom: 60px;
  }
  .tableWrap {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
  }
  .table {
    max-width: 505px;
  }
  .tableTitle {
    font-size: 22px;
  }
  .tableItem {
    padding: 15px 25px;
  }
  .serviceName,
  .servicePrice {
    font-size: 16px;
    font-weight: 500;
  }
  .services::after {
    right: -30%;
    width: 160%;
  }
  .general::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -70px;
    width: 95px;
    height: 227px;
    background-image: url("../../assets/general-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .regular::after {
    content: "";
    position: absolute;
    top: 0;
    right: -65px;
    width: 87px;
    height: 227px;
    background-image: url("../../assets/regular-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .office::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -150px;
    width: 197px;
    height: 186px;
    background-image: url("../../assets/office-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .repair::after {
    content: "";
    position: absolute;
    bottom: -5px;
    right: -70px;
    width: 110px;
    height: 213px;
    background-image: url("../../assets/repair-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
