.howWeWork {
  padding-bottom: 50px;
  padding-top: 50px;
}
.title {
  color: #407bff;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-bottom: 30px;
}
.wrap {
  overflow-x: scroll;

  padding-right: 32%;
  padding-left: 30%;
}

.howWeWork img {
  width: 1676px;
  height: 134px;
}
.wrap::-webkit-scrollbar {
  width: 0.5em; /* Ширина лінії прокрутки */
}

.wrap::-webkit-scrollbar-track {
  background-color: transparent; /* Фон трека */
}

.wrap::-webkit-scrollbar-thumb {
  background-color: transparent; /* Колір лінії прокрутки */
}
@media (min-width: 470px) {
  .wrap {
    padding-right: 35%;
    padding-left: 33%;
  }
}
@media (min-width: 550px) {
  .wrap {
    padding-right: 38%;
    padding-left: 35%;
  }
}
@media (min-width: 630px) {
  .wrap {
    padding-right: 40%;
    padding-left: 38%;
  }
}
@media (min-width: 720px) {
  .howWeWork {
    padding-bottom: 50px;
    padding-top: 70px;
  }
  .title {
    font-size: 24px;
    padding-bottom: 45px;
  }
  .howWeWork img {
    width: 1996px;
    height: 160px;
  }
  .wrap {
    padding-right: 15%;
    padding-left: 15%;
  }
}
@media (min-width: 1340px) {
  .howWeWork {
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .title {
    font-size: 30px;
    padding-bottom: 55px;
  }
  .howWeWork img {
    width: 2298px;
    height: 173px;
  }
  .wrap {
    padding-right: 15%;
    padding-left: 15%;
  }
}
