.hero {
  margin-top: 90px;
}
.title {
  padding-top: 35px;
  padding-bottom: 25px;
  color: #263238;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
}

.img {
  display: block;
  margin: 0 auto;
}
@media (min-width: 1340px) {
  .hero {
    height: 90vh;
  }
  .heroWrap {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 110px;
  }
  .title {
    position: relative;
    font-size: 32px;
    text-align: start;
  }
  .title:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    display: block;
    /* width: 139px; */
    width: 150px;
    height: 31px;
    background-image: url("../../assets/line-icon.svg");
    background-size: cover;
  }
}
