.hero {
  margin-top: 90px;
  margin-bottom: 30px;
}
.title {
  padding-top: 35px;
  padding-bottom: 25px;
  color: #263238;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
}
.img {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 185px;
}
@media (max-width: 1340px) {
  .img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-image: url("../../assets//line-icon.svg");
  }
}
@media (min-width: 720px) {
  .heroWrap {
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 0;
  }
  .title {
    position: relative;
    font-size: 22px;
    text-align: start;
  }
  .title:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    display: block;
    width: 93px;
    height: 19px;
    background-image: url("../../assets/line-icon.svg");
    background-size: cover;
  }
  .img {
    width: 350px;
    height: 230px;
  }
}
@media (min-width: 960px) {
  .img {
    width: 450px;
    height: 330px;
  }
}
@media (min-width: 1340px) {
  .title {
    font-size: 32px;
  }
  .title:after {
    width: 150px;
    height: 31px;
  }

  .img {
    width: 670px;
    height: 450px;
  }
}
@media (min-width: 1650px) {
  .title {
    font-size: 40px;
  }
  .img {
    width: 750px;
    height: 500px;
  }
}
