.advantages {
  padding-top: 15px;
  padding-bottom: 65px;
}
.title {
  padding-bottom: 30px;
  color: #407bff;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}
.listWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  max-width: 285px;
}
.item img {
  width: 105px;
  height: 105px;
}
.itemTitle {
  padding-top: 5px;
  color: #263238;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}
.itemDesc {
  color: #263238;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 1340px) {
  .advantages {
    padding-top: 35px;
    padding-bottom: 120px;
  }
  .title {
    font-size: 32px;
    padding-bottom: 50px;
  }
  .listWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 130px;
    row-gap: 70px;
  }
  .item {
    gap: 15px;
    max-width: 320px;
  }
  .item img {
    width: 130px;
    height: 130px;
  }
  .itemTitle {
    font-size: 20px;
    padding-top: 10px;
  }
  .itemDesc {
    font-size: 16px;
    line-height: 20px;
  }
}
