.extraServices {
  padding-top: 50px;
  padding-bottom: 25px;
}
.wrap {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding-bottom: 45px;
}
.dialogWrap {
  display: flex;
  flex-direction: column;
  gap: 55px;
  justify-content: flex-end;
}
.womanImg {
  width: 134px;
  height: 211px;
}
.text {
  position: relative;
  max-width: 141px;
  color: #fff;
  font-size: 13px;
  line-height: 18px;
}
.text::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 228px;
  height: 128px;
  z-index: -1;
  margin-top: 10px;
  background-image: url("../../assets/extra-services-bubble.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.boldText {
  font-weight: 600;
}
.line {
  margin-bottom: 20px;
}
.title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  background-color: #407bff;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 13px;
  margin-bottom: 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.table:last-child .tableItem:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.tableTitle {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #407bff;
}
.tableItem {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
.tableItem:nth-child(odd) {
  background-color: #ecf0f8;
}
.serviceName,
.servicePrice {
  color: #263238;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
}
.hint {
  color: #737a7e;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  padding-top: 15px;
}

@media (min-width: 720px) and (max-width: 1340px) {
  .extraServices {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .wrap {
    gap: 55px;
    padding-bottom: 60px;
  }
  .womanImg {
    width: 170px;
    height: 268px;
  }
  .text {
    font-size: 15px;
    max-width: 162px;
  }
  .text::after {
    top: -70%;
    left: -50%;
    width: 278px;
    height: 156px;
    margin-top: 10px;
  }
  .dialogWrap {
    gap: 64px;
    justify-content: center;
  }
  .line {
    width: 180px;
    height: 31px;
    margin-bottom: 0;
  }
  .table,
  .title {
    margin: 0 auto;
    min-width: 380px;
    max-width: 60%;
  }
  .hint {
    font-size: 14px;
    padding-top: 18px;
  }
}

@media (min-width: 1340px) {
  .extraServices {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .title {
    max-width: 70%;
    min-width: 1080px;
    margin: 0 auto;
  }
  .wrap {
    gap: 60px;
  }
  .dialogWrap {
    justify-content: center;
    gap: 93px;
  }
  .text {
    font-size: 18px;
    line-height: normal;
    max-width: 195px;
  }
  .text::after {
    width: 341px;
    height: 191px;
    top: -60%;
    left: -50%;
    margin-top: 0;
  }
  .womanImg {
    width: 216px;
    height: 340px;
  }
  .line {
    width: 223px;
    height: 39px;
  }
  .tableWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1650px;
  }
  .table {
    min-width: 540px;
    margin: 0;
    max-width: 100%;
  }
  .tableTitle {
    color: #407bff;
    font-size: 20px;
    background-color: #fff;
  }
  .tableItem {
    padding: 15px 25px;
  }
  .serviceName,
  .servicePrice {
    font-size: 16px;
  }
  .tableItem:nth-child(odd) {
    background-color: #fff;
  }
  .tableItem:nth-child(even) {
    background-color: #ecf0f8;
  }
  .hint {
    font-size: 15px;
    padding-top: 25px;
  }
}
