.title {
  color: #407bff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 20px;
}
.wrap {
  display: flex;
  justify-content: center;
}
.svgWrap {
  position: relative;
  max-width: 302px;
}
@media (min-width: 1340px) {
  g[id*="click-area"] {
    cursor: pointer;
  }
}
.details {
  display: none;
  position: absolute;
  top: 120px;
  right: 95px;
  color: #263238;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: 11px;
  padding: 10px 15px 12px 10px;
  max-width: 125px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.85);
}
.details::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 7px;
  width: 5.5px;
  height: 5.5px;
  background-image: url("../../assets/close.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.sinkDetails {
  top: 160px;
  right: 80px;
}

.bathDetails {
  top: 90px;
  right: 95px;
}

.shelfDetails {
  top: 125px;
  right: 95px;
}
@media (min-width: 720px){
    
}