.title {
  color: #407bff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 22px;
}
.wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 41px;
}
.svgWrap {
  position: relative;
  max-width: 274px;
}
@media (min-width: 1340px) {
  g[id*="click-area"] {
    cursor: pointer;
  }
}
.svg {
  width: 274px;
  height: 268px;
}
.details {
  display: none;
  position: absolute;
  top: 120px;
  right: 95px;
  color: #263238;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: 11px;
  max-width: 125px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.85);
}
.details::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 7px;
  width: 5.5px;
  height: 5.5px;
  background-image: url("../../assets/close.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.itemsDetails {
  top: 150px;
  left: 40px;
  padding: 10px;
}
.wardrobeDetails {
  top: 110px;
  right: 30px;
  padding: 12px 18px 12px 12px;
  max-width: 152px;
}
.shelfDetails {
  top: 100px;
  right: 45px;
  padding: 12px 29px 12px 12px;
  max-width: 125px;
}
@media (min-width: 720px) {
  .title {
    font-size: 22px;
    padding-bottom: 35px;
  }
  .svg {
    width: 277px;
    height: 273px;
  }
  .svgWrap {
    max-width: 277px;
  }
  .details {
    font-size: 10px;
    line-height: 1.2;
  }
  .details::after {
    top: 10px;
    right: 10px;
    width: 6px;
    height: 6px;
  }
  .itemsDetails {
    top: 135px;
    left: 100px;
    min-width: 150px;
    padding: 12px 18px 12px 12px;
  }
  .wardrobeDetails {
    top: 115px;
    right: 40px;
    padding: 12px 16px 12px 12px;
  }
  .shelfDetails {
    top: 105px;
    right: 43px;
    max-width: 126px;
    padding: 12px 21px 12px 12px;
  }
}

@media (min-width: 1340px) {
  .title {
    font-size: 24px;
    padding-bottom: 60px;
  }
  .svgWrap {
    max-width: 334px;
  }
  .svg {
    width: 334px;
    height: 327px;
  }
  .details {
    font-size: 11px;
  }
  .details::after {
    width: 7px;
    height: 7px;
  }
  .itemsDetails {
    top: 160px;
    left: 120px;
    padding: 12px 25px 12px 12px;
    max-width: 162px;
  }
  .wardrobeDetails {
    top: 143px;
    right: 75px;
    padding: 12px 18px 12px 12px;
  }
  .shelfDetails {
    top: 125px;
    right: 60px;
    max-width: 146px;
  }
}
