.footer {
  position: relative;
  padding-top: 20px;
  padding-bottom: 90px;
  background-color: #407bff;
}
.footer::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 60px;
  background-image: url("../../assets/people-footer.png");

  background-repeat: repeat-x;
  background-size: cover;
}
.footerContainer {
  display: flex;
  justify-content: space-between;
}
.logoWrap {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
}
.logoWrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 56px;
  background-image: url("../../assets/logo-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.logoImg {
  width: 68px;
  height: 54px;
  z-index: 2;
}
.logoText {
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  line-height: 18px;
}
.link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.linksList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 80px;
}
.socialLineWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.socials {
  display: flex;
  gap: 20px;
}
.socialIcons {
  width: 20px;
  height: 20px;
}
.line {
  width: 92px;
  height: 14px;
}

@media (min-width: 1340px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 45px;
  }
  .logoImg {
    width: 115px;
    height: 90px;
  }
  .logoWrap::after {
    width: 112px;
    height: 92px;
  }
  .logoText {
    font-size: 32px;
  }
  .footer::after {
    display: none;
  }
  .linksList {
    flex-direction: row;
    padding-left: 0;
    gap: 69px;
  }
  .logoLinksWrap {
    display: flex;
    justify-content: space-between;
    width: 65%;
  }
  .socialLineWrap {
    gap: 30px;
  }
  .socialIcons {
    width: 30px;
    height: 30px;
  }
  .link {
    font-size: 18px;
  }
  .line {
    width: 165px;
    height: 29px;
  }
}

@media (min-width: 720px){
    
}