.title {
  color: #407bff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 20px;
}
.wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
}
.svgWrap {
  position: relative;
  max-width: 294px;
}
.svg {
  width: 294px;
  height: 274px;
}
@media (min-width: 1340px) {
  g[id*="click-area"] {
    cursor: pointer;
  }
}

.details {
  display: none;
  position: absolute;
  color: #263238;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: 11px;

  max-width: 125px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.85);
}
.details::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 5.5px;
  height: 5.5px;
  background-image: url("../../assets/close.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.sofaDetails {
  top: 85px;
  right: 25px;
  padding: 9px 12px;
}
.windowDetails {
  top: 105px;
  right: 55px;
  padding: 13px 15px 13px 10px;
}
.deskDetails {
  top: 115px;
  right: 125px;
  padding: 15px 29px 15px 10px;
}
.carpetDetails {
  top: 85px;
  right: 40px;
  padding: 15px 15px 15px 10px;
}
.tvDetails {
  top: 105px;
  right: 125px;
  padding: 10px 33px 10px 10px;
  max-width: 106px;
}
@media (min-width: 720px) {
  .title {
    font-size: 22px;
    padding-bottom: 35px;
  }
  .svg {
    width: 300px;
    height: 280px;
  }
  .svgWrap {
    max-width: 300px;
  }
  .details {
    font-size: 10px;
    line-height: 1.2;
  }
  .details::after {
    top: 10px;
    right: 10px;
    width: 6px;
    height: 6px;
  }
  .sofaDetails {
    top: 90px;
    right: 25px;
    padding: 12px 13px 12px 12px;
  }
  .tvDetails {
    padding: 12px 26px 12px 12px;
    top: 105px;
    right: 125px;
  }
  .deskDetails {
    top: 120px;
    right: 125px;
    max-width: 120px;
    padding: 12px 18px 12px 12px;
  }
  .windowDetails {
    padding: 12px 14px 12px 12px;
    max-width: 135px;
    top: 85px;
    right: 40px;
  }
  .carpetDetails {
    top: 90px;
    right: 26px;
    padding: 12px 13px 12px 12px;
    max-width: 135px;
  }
}
@media (min-width: 1340px) {
  .title {
    font-size: 24px;
    padding-bottom: 60px;
  }
  .svgWrap {
    max-width: 360px;
  }
  .svg {
    width: 360px;
    height: 335px;
  }
  .details {
    font-size: 11px;
    min-width: 140px;
    line-height: 1.2;
  }
  .details::after {
    width: 7px;
    height: 7px;
  }
  .sofaDetails {
    top: 108px;
    right: 30px;
    padding: 12px 15px 12px 12px;
  }
  .tvDetails {
    padding: 12px 34px 12px 12px;
    max-width: 120px;
    top: 125px;
    right: 155px;
  }
  .deskDetails {
    top: 148px;
    right: 150px;
    max-width: 145px;
    padding: 12px 30px 12px 12px;
  }
  .windowDetails {
    padding: 12px 15px 12px 12px;
    max-width: 148px;
    top: 100px;
    right: 60px;
  }
  .carpetDetails {
    top: 110px;
    right: 40px;
    padding: 12px 15px 12px 12px;
    max-width: 151px;
  }
}
