.title {
  color: #407bff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 20px;
}
.wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
}
.svgWrap {
  position: relative;
  max-width: 294px;
}

@media (min-width: 1340px) {
  g[id*="click-area"] {
    cursor: pointer;
  }
}

.details {
  display: none;
  position: absolute;
  /* top: 120px;
  right: 95px; */
  color: #263238;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: 11px;

  max-width: 125px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.85);
}
.details::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 5.5px;
  height: 5.5px;
  background-image: url("../../assets/close.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.sofaDetails {
  top: 85px;
  right: 25px;
  padding: 9px 12px;
}
.windowDetails {
  top: 105px;
  right: 55px;
  padding: 13px 15px 13px 10px;
}
.deskDetails {
  top: 115px;
  right: 125px;
  padding: 15px 29px 15px 10px;
}
.carpetDetails {
  top: 85px;
  right: 40px;
  padding: 15px 15px 15px 10px;
}
.tvDetails {
  top: 105px;
  right: 125px;
  padding: 10px 33px 10px 10px;
  max-width: 106px;
}
