* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;

  color-scheme: light dark;
  color: #263238;
  background-color: #fff;

  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;
}
h1,
h2,
h3,
p,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-right: 30px;
  padding-left: 30px;
  margin: 0 auto;
}
@media (min-width: 720px) {
  .container {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media (min-width: 1340px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (min-width: 1650px) {
  .container {
    max-width: 1650px;
  }
}
.accent {
  color: #407bff;
}
body.menu-open {
  overflow: hidden;
}
